[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "composeit"
version = "0.0.1"
authors = [
    {name = "Błażej Kramarski", email = "b.kramarski@gmail.com"},
]
description = "Process composer mimicking docker-compose"
readme = "README.md"
requires-python = ">=3.8"
keywords = ["compose", "process"]
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
    "pyyaml",
    "termcolor",
    "aiohttp",
    "psutil",
    #"python-dotenv",
    # TODO: version in the other repo so it updates if needed? (seems it is not picked up when dotenv was installed)
    "python-dotenv @ git+https://github.com/Bajron/python-dotenv.git@string-expansion",
]
[project.optional-dependencies]
dev = [
    "black",
    "pytest",
    "mypy",
    "types-PyYAML",
    "types-psutil",
]
#dynamic = ["version"]

[project.scripts]
composeit = "composeit.main:main"

[tool.black]
line-length = 100
